<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Songr</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Songr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/albums">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs">Songs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        Add Song
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <img class="music-splatter" src="/music-splatter.png">
                            </div>

                            <div class="col-sm-6">
                                <form method="POST" action="/songs">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" name="title" class="form-control" id="title" aria-describedby="title" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="album">Album</label>
                                        <input type="text" name="album" class="form-control" id="album" aria-describedby="album" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="trackNumber">Track Number</label>
                                                <input type="number" name="trackNumber" class="form-control" id="trackNumber" aria-describedby="trackNumber" min="0" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="length">Length</label>
                                                <input type="number" name="length" class="form-control" id="length" aria-describedby="length" min="0" required>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h2 class="text-center list-title-margin">All Songs</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <ul class="list-group list-group-flush">
                    <li th:each="song : ${songs}" class="list-group-item list-group-item-action">
                        <h5 th:text="${song.title}">Song Title</h5>
                        <p>By <span th:text="${song.album.artist}"></span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>